@use "global" as *;

.about{
    position: relative;
    margin-top: rem(88);
    @include mq("md") {
        margin-top: rem(144);
    }
}

.about__wrapper{
    margin-top: rem(31);
    position: relative;
    @include mq("md") {
        margin-top: rem(45);
    }
}

.about__image-area{
    position: relative;  
    display: flex; 
    justify-content: center;
    width: 100%;
    max-width: 100%;
}

.about__left-image{
    aspect-ratio: 128/194;
    max-width: 37%;
    width: 100%;
    position: inherit;
    margin-bottom: rem(17);
    @include mq("md") {
        max-width: rem(400);
        margin-bottom: rem(58);
    }
}
.about__right-image{
    aspect-ratio: 281/186;
    max-width: 82%;
    width: 100%;
    margin-left: rem(-64);
    margin-top: rem(26);
    @include mq("md") {
        max-width: rem(880);
        margin-left: rem(-200);
        margin-top: rem(80);
    }
}

.about__left-image img,
.about__right-image img{
	width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__text-area{
    margin-top: rem(40);
    @include mq("md") {
        max-width: rem(880);
        width: 100%;
        position: absolute;
        display: flex;
        top: 18.7%;
        right: 0;
        align-items: center;
        gap: rem(20);
    }
}

.about__title{
    font-family: $en-font-family;
    font-size: rem(40);
    line-height: 1;
    text-align: left;
    color: $blue;
    @include mq("md") {
        max-width: rem(400);
        width: 100%;
        font-size: rem(80);
        line-height: 1.25;
        color: $white;
        margin-right: rem(20.5);
    }
}

.about__text{
    font-size: rem(16);
    line-height: 1.5;
    text-align: left;
    margin-top: rem(16);
    @include mq("md") {
        max-width: rem(400);
        width: 100%;
        margin-right: rem(40);
        color: $white;
        margin-top: rem(35);
    }
}

.about__button{
    margin-left: rem(-12);
    margin-top: rem(50);
    @include mq("md") {
        margin-left: 0;
        margin-top: rem(39);
    }
}

.about__icon{
    aspect-ratio: 194 /181;
    position: absolute;
    bottom: -11.5%;
    right: 5.7%;
    max-width: rem(194);
    width: 100%;
}

.about__icon img{
    width: 100%;
}