@use "global" as *;

.blog-cards {
    @include mq("md") {
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}

.blog-cards__item{
    margin-top: rem(41);
    @include mq("md") {
        margin-right: rem(40);
        margin-top: 0;
    }
}

.blog-cards__item:first-child{
    margin-top: 0;
}
.blog-cards__item:nth-child(n + 4){
    @include mq("md") {
        margin-top: rem(80);
    }
}
.blog-cards__item:nth-child(3n){
    @include mq("md") {
        margin-right: 0;
    }
}