@use "global" as *;

.button{
    background-color: $blue;
    display: inline-block;
    width: 100%;
    max-width: rem(202);
    text-align: left;
    cursor: pointer;
    position: relative;
    padding: rem(16) 0 rem(16) rem(40);
    color: $white;
    font-size: rem(14);
    margin-right: rem(7);
    letter-spacing: rem(0.4);
    border: 1px solid $blue;
}

.button::before{
    position: absolute;
    top: rem(4);
    right: -2%;
    max-width: rem(202);
    width: 100%;
    content: "";
    background-color: transparent;
    border: rem(1) solid $blue;
    padding: rem(26) 0;
}


.button::after {
    background-color: $white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    content: '';
    width: 100%;
    height: 100%;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
    z-index: 0;
}
.button:hover {
    color: $blue;
}
.button:hover::after {
    transform: scale(1, 1);
}

.button__text{
    position: relative;
    z-index: 10;
}

.button__text::after{
    position: absolute;
    content: "";
    background-image: url(../images/common/button_arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    top: rem(4);
    max-width: rem(40);
    width: 100%;
    display: inline-block;
    height: rem(10);
    transition: .5s;
    margin-left: rem(8.3);
}

.button:hover .button__text::after{
    background-image: url(../images/common/button_arrow--green.png);
    z-index: 10;
}

