@use "global" as *;

.button{
    max-width: rem(206);
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.button::before{
    position: absolute;
    top: rem(4);
    right: rem(0);
    max-width: rem(202);
    width: 100%;
    content: "";
    background-color: $white;
    border: 1px solid $blue;
    padding: rem(26) 0;
    z-index: 9;
}

.button__link{
    display: block;
    max-width: rem(202);
    width: 100%;
    background-color: $blue;
    color: $white;
    font-family: $en-font-family;
    font-size: rem(14);
    line-height: 1;
    padding: rem(19) rem(0) rem(19) rem(40);
    position: relative;
    z-index: 10;
    border: solid 1px $blue;
}

.button__link::before{
    position: absolute;
    content: "";
    top: 29%;
    right: rem(40);
    max-width: rem(40);
    width: 100%;
    height: rem(12);
    border-bottom: rem(1) solid $white;
    border-right: rem(1) solid $white;
    transform: skew(45deg);
}
.button__link:hover:before{
    border-bottom: rem(1) solid $blue;
    border-right: rem(1) solid $blue;
}

.button:hover:after{
    border: 1px solid $blue;
}

.button__link::after {
    background: $white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    content: '';
    width: 100%;
    height: 100%;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
    z-index: -1;
}
.button__link:hover {
    color: $blue;
}
.button__link:hover::after {
    transform: scale(1, 1);
}