@use "global" as *;

.campaign__inner{
    margin-top: rem(44);
    position: relative;
    @include mq("md") {
        margin-top: rem(120);
        }
}

.campaign__slider{
    margin-top: rem(32);
    @include mq("md") {
        margin-top: rem(44);
        }
}

.campaign__item{
    max-width: rem(280);
    width: 100%!important;
    margin-right: rem(24);
    box-sizing: border-box;
    @include mq("md") {
    max-width: rem(333);
    }
}

.campaign .swiper{
    margin-right: calc(50% - 50vw);
}

.campaign .swiper-button-next,
.campaign .swiper-button-prev{
    top: rem(20);
    width: rem(80);
    height: rem(80);
}

.campaign .swiper-button-next::after,
.campaign .swiper-button-prev::after{
    content: "";
}

.campaign .swiper-button-prev{
    right: 16.4%;
    left: auto;
}
.campaign .swiper-button-next{
    right: 2.2%;
    left: auto;}