@use "global" as *;

.campaign-price{
    padding: rem(17) rem(16) 0 rem(16);
    @include mq("md") {
        padding-top: rem(22);
    }
}

.campaign-price__subtitle{
    font-size: rem(12);
    color: $blue;
    line-height: 1;
    padding: rem(8) rem(11);
    border: rem(1) solid $blue;
    display: inline-block;
    @include mq("md") {
        padding: rem(10) rem(15); 
    }
}

.campaign-price__title{
    font-weight: $medium;
    line-height: 1.1;
    border-bottom: rem(1) solid $blue;
    font-size: rem(16);
    margin-top: rem(9);
    padding-bottom: rem(8);
    @include mq("md") {
        padding-bottom: rem(11);
    }
}

.campaign-price__about{
    font-size: rem(14);
    line-height: 1;
    text-align: center;
    margin-top: rem(13);
    @include mq("md") {
        font-size: rem(16);
        text-indent: rem(-15);
        margin-top: rem(19);
    }
}

.campaign-price__body{
    display: flex;
    align-items: center;
    padding-bottom: rem(15);
    margin-top: auto;
    justify-content: center;
    @include mq("md") {
        align-items: flex-end;
        padding-bottom: rem(28);
        justify-content: center;
    }
}

.campaign-price__normal{
    font-family: $accent-font-family;
    font-weight: $bold;
    font-size: rem(20);
    position: relative;
    margin-top: rem(8);
    margin-right: rem(17);
    @include mq("md") {
        font-size: rem(24);
        margin-top: 0;
        margin-right: rem(26);
        margin-bottom: rem(6);
    }
}

.campaign-price__normal::before{
    position: absolute;
    content: "";
    border: solid rem(2) #C94800;
    top: 47%;
    left: 0;
    right: 0;
    transform: translateY(-52%);
}

.campaign-price__sale{
    font-family: $accent-font-family;
    font-weight: $bold;
    color: $blue;
    font-size: rem(32);
    @include mq("md") {
        font-size: rem(39.5);
    }
}