@use "global" as *;

.information{
    background-color: #DDF0F1;
}

.information__inner{
    margin-top: rem(75);
    padding-top: rem(80);
    padding-bottom: rem(80);
}

.information__wrapper{
    margin-top: rem(24);
    @include mq("md") {
        display: flex;

    }
}

.information__img{
    aspect-ratio: 345 / 227;
    max-width: rem(345);
    width: 100%;
    @include mq("md") {
        max-width: rem(540);
        margin-right: rem(48);
    }
}
.information__img img{
    width: 100%;
}


.information__content{
    margin-top: rem(24);
    @include mq("md") {
        max-width: rem(492);
    }
}

.information__title{
    font-weight: $bold;
    font-size: rem(20);
    line-height: 1.2;
    border-bottom: 1px solid $blue;
    padding-bottom: rem(2);
    @include mq("md") {
        font-size: rem(24);
        line-height: 1;
    }
}

.information__text{
    font-size: rem(16);
    line-height: 1.5;
    margin-top: rem(8);
}

.information__button{
    margin-top: rem(40);
    @include mq("md") {
        margin-top: rem(56);
    }
}