@use "global" as *;

.information{
    background-color: #DDF0F1;
    padding-top: rem(83);
    padding-bottom: rem(78);
    @include mq("md") {
        padding-top: rem(99);
        padding-bottom: rem(101);
    }
}

.information__wrapper{
    margin-top: rem(31);
    @include mq("md") {
        display: flex;
        margin-top: rem(43);
    }
}

.information__img{
    aspect-ratio: 345 / 227;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    @include mq("md") {
        max-width: rem(540);
        margin-right: rem(48);
    }
}
.information__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.information__content{
    margin-top: rem(26);
    @include mq("md") {
        max-width: rem(492);
        margin-top: rem(61);
    }
}

.information__title{
    font-weight: $bold;
    font-size: rem(20);
    line-height: 1.2;
    border-bottom: rem(1) solid $blue;
    padding-bottom: rem(2);
    @include mq("md") {
        font-size: rem(24);
        line-height: 1;
        padding-bottom: rem(8);
    }
}

.information__text{
    font-size: rem(16);
    line-height: 1.5;
    margin-top: rem(8);
}

.information__button{
    text-align: center;
    margin-top: rem(40);
    margin-left: rem(3);
    @include mq("md") {
        margin-top: rem(40);
        margin-left: 0;
    }
}