@use "global" as *;


.pc-footer__nav{
    display: flex;
    margin-top: rem(40);
    @include mq("md") {
        margin-top: rem(12);
        padding-left: rem(7);
    }
}


.pc-footer__items{
    margin-right: rem(120);
}

.pc-footer__items:last-child{
    margin-right: rem(0);
}

.pc-footer__item{
    margin-bottom: rem(40);
    font-size: rem(16);
    color: $white;
    font-weight: $bold;
    line-height: 1.125;
    position: relative;
}

.pc-footer__item a{
    display: flex;
}

.pc-footer__icon{
    display: block;
    max-width: rem(18);
    width: 100%;
    margin-right: rem(4);
}

.pc-footer__subitems{
    padding-left: rem(22);
}
.pc-footer__subitem{
    margin-top: rem(24);
    font-size: rem(16);
    color: $white;
    line-height: 1.125;
    font-weight: $normal;
}