@use "global" as *;

.pc-nav{
    display: block;
    height: inherit;
    text-align: center;
}

.pc-nav__main{
    font-family: $en-font-family;
    font-weight: $normal;
    font-size: rem(18);
    line-height: 1;
    color: $white;
}

.pc-nav__sub{
    font-weight: $normal;
    font-size: rem(10);
    line-height: 1.5;
    color: $white;
}