@use "global" as *;

.pc-header{
    height: inherit;
}

.pc-header__inner{
    height: inherit;
}

.pc-header__nav{
    height: inherit;
}

.pc-header__items{
    display: flex;
    align-items: center;
    height: inherit;
}

.pc-header__item{
    display: flex;
    align-items: center;
    height: inherit;
    position: relative;
}

.pc-header__item::after {
    content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    bottom: rem(20);
    left: 10%;
    /*線の形状*/
    width: 80%;
    height: rem(2);
    background:$white;
    /*アニメーションの指定*/
    transition: all .3s;
    transform: scale(0, 1);/*X方向0、Y方向1*/
    transform-origin: center top;/*上部中央基点*/
}

/*現在地とhoverの設定*/
.pc-header__item:hover::after {
    transform: scale(1, 1);/*X方向にスケール拡大*/
}

.pc-header__item a{
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 0 min(rem(20), 1.39vw); 
}

.pc-header__link{
    display: block;
    height: inherit;
    text-align: center;
}

.pc-header__main{
    font-family: $en-font-family;
    font-weight: $normal;
    font-size: rem(18);
    line-height: 1.2;
    color: $white;
}
.pc-header__sub{
    font-weight: $normal;
    font-size: rem(10);
    line-height: 1.8;
    color: $white;
}

