@use "global" as *;

.price{
    background-color: #DDF0F1;
    position: relative;
}

.price__inner{
    margin-top: rem(80);
    padding-top: rem(80);
    padding-bottom: rem(80);
}

.price__wrapper{
    @include mq("md") {
        display: flex;
        flex-direction: row-reverse;
        gap: rem(93);
    }
}

.price__img{
    max-width: rem(345);
    aspect-ratio: 345/227;
    width: 100%;
    margin-top: rem(24);
    @include mq("md") {
        max-width: rem(492);
        aspect-ratio: 492/746;
    }
}

.price__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.price__about{
    @include mq("md") {
    max-width: rem(492);
    width: 100%;
    }   
}
.price__table{
    max-width: 100%;
    width: 100%; 
    @include mq("md") {
    max-width: rem(492);
    }   
}

.price__table tr{
    max-width: 100%;
    width: 100%;
}

.price__table-title th{
    margin-top: rem(40);
    font-size: rem(16);
    font-weight: $bold;
    line-height: 1.5;
    border-bottom: 1px solid $blue;
    display: block;
    text-align: left;
}

.price__table-content{
    display: flex;
    justify-content: space-between;
}

.price__table tr td{
    font-size: rem(14);
    line-height: 1;
    margin-top: rem(15);
    @include mq("md") {
        font-size: rem(16);
    }
}

.price__table-title{
    display: block;
}

.price__button{
    margin-top: rem(40);
}

.price__icon{
    position: absolute;
    aspect-ratio: 437 / 201;
    bottom: 5%;
    left: 5%;
    max-width: rem(437);
    width: 100%;
}

.price__icon img{
    width: 100%;
    height: 100%;
}