@use "global" as *;

.price{
    background-color: #DDF0F1;
    position: relative;
}

.price__inner{
    margin-top: rem(85);
    padding-top: rem(84);
    padding-bottom: rem(85);
    @include mq("md") {
        margin-top: rem(80);
        padding-top: rem(100);
        padding-bottom: rem(103);
    }
}

.price__wrapper{
    @include mq("md") {
        display: flex;
        flex-direction: row-reverse;
        margin-left: rem(-1);
        justify-content: left;
    }
}

.price__title{
    @include mq("md") {
        text-indent: rem(-6);
    }
}


.price__img{
    max-width: 100%;
    aspect-ratio: 345/227;
    width: 100%;
    margin-top: rem(32);
    margin-left: auto;
    margin-right: auto;
    @include mq("md") {
        max-width: rem(492);
        aspect-ratio: 492/746;
        margin-top: rem(43);
    }
}

.price__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.price__about{
    @include mq("md") {
    max-width: rem(497);
    width: 100%;
    margin-right: 8.4%;
    }   
}
.price__table{
    max-width: 100%;
    width: 100%; 
}

.price__table tbody{
    display: table-caption;
    @include mq("md") {
            display: block;
        }   
}

.price__table tr{
    max-width: 100%;
    width: 100%;

}

.price__table-title th{
    margin-top: rem(39);
    font-size: rem(16);
    font-weight: $bold;
    line-height: 1.5;
    border-bottom: rem(1) solid $blue;
    display: block;
    text-align: left;
    padding-bottom: rem(4);
    @include mq("md") {
        margin-top: rem(39.1);
        }  
}

.price__table-content{
    display: flex;
    justify-content: space-between;
}

.price__table tr td{
    font-size: rem(14);
    line-height: 1.4;
    margin-top: rem(10);
    @include mq("md") {
        font-size: rem(16);
        margin-top: rem(6);
        line-height: 1.5;
    }
}

.price__table-title{
    display: block;
}

.price__button{
    margin-top: rem(40);
    margin-left: rem(3);
    @include mq("md") {
        margin-top: rem(81);
        margin-left: 0;
    }
}

.price__icon{
    aspect-ratio: 441/201;
    bottom: 5%;
    left: 7%;
    max-width: rem(437);
    position: absolute;
    width: 100%;
}

.price__icon img{
    width: 100%;
    height: 100%;
}