@use "global" as *;

.section-title{
    text-align: center;
}

.section-title__main{
    line-height: 1;
    font-family: $en-font-family;
    font-size: rem(32);
    font-weight: $normal;
    @include mq("md") {
        font-size: rem(40);
    }
}

.section-title__main::first-letter {
    color: $blue;
}

.section-title__sub{
    line-height: 1;
    font-size: rem(12);
    margin-top: rem(10);
    color: $blue;
    @include mq("md") {
        margin-top: rem(10.1);
    }
}

.section-title__main--white{
    @include mq("md") {
        color: $white;
    }
}

.section-title__main--white::first-letter{
    @include mq("md") {
        color: $white;
    }
}

.section-title__sub--white{
    @include mq("md") {
        color: $white;
    }
}

.section-title__sub--white::first-letter{
    @include mq("md") {
        color: $white;
    }
}