@use "global" as *;

.sp-header {
    position: fixed;
    display: block;
    top: rem(80);
    left: 0;
    right: 0;
    background-color: $blue;
    overflow: scroll;
    height: 100vh;
    transform: translateX(100%);
    transition-duration: 500ms;
}

.sp-header.is-open {
    transform: translateX(0);
}

.sp-header__inner {
    padding-top: rem(24);
    padding-left: rem(15);
    padding-bottom: rem(60);
}

.sp-header__nav{
    display: flex;
    justify-content: center;
    gap: rem(15);
}
.sp-header__items{
    margin-top: rem(16);
}
.sp-header__item {
    font-size: rem(16);
    color: $white;
    font-weight: $bold;
    line-height: 1.125;
    position: relative;
}
.sp-header__item+.sp-header__item{
    font-weight: $normal;
}

.sp-header__item a{
    padding: rem(12) 0 rem(12) rem(22);
    display: block;
}

.sp-header__item--icon::before {
    position: absolute;
    content: "";
    left: rem(-4);
    top: 50%;
    transform: translateY(-50%);
    max-width: rem(18);
    width: 100%;
    height: rem(18);
    background-image: url(../images/common/starfish.png);
    background-size: contain;
}
