@use "global" as *;



.voice-card{
    box-shadow: rem(2) rem(2) rem(10) rgba(0,0,0,0.25);
    max-width: rem(345);
    width: 100%;
    padding: rem(16);
    padding-bottom: rem(24);
    margin-bottom: rem(40);
    margin-left: auto;
    margin-right: auto;
    @include mq("md") {
        margin-bottom: rem(80);
        max-width: rem(520);
        padding: rem(24);
    }
}
.voice-card__top{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.voice-card__left{
    margin-right: rem(3);
    max-width: rem(149);
    width: 100%;
    @include mq("md") {
        max-width: rem(276);
    }
}

.voice-card__sub{
    @include mq("md") {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}

.voice-card__gender{
    font-size: rem(12);
    line-height: 1;
}
.voice-card__genre{
    font-size: rem(12);
    color: $blue;
    border:1px solid $blue ;    
    line-height: 1;
    padding: rem(5) rem(15);
    margin-top: rem(3);
    display: inline-block;
}
.voice-card__title{
    font-weight: $medium;
    font-size: rem(16);
    border-bottom: 1px solid $blue;
    padding-bottom: rem(3);
    @include mq("md") {
        font-size: rem(24);
        font-weight: $medium;
    }
}
.voice-card__img{
    aspect-ratio: 151/117;
    position: relative;
    display: block;
    max-width: rem(151);
    width: 100%;
    @include mq("md") {
        max-width: rem(180);
        aspect-ratio: 180/140;
    }
}
.voice-card__img img{
	width: 100%;
	height: 100%;

}

.voice-card__text{
    margin-top: rem(15);
    font-size: rem(16);
    line-height: 1.5;
}
