@use "global" as *;

.voice{
    position: relative;
    @include mq("md") {
        padding-bottom: rem(63);
    }
}

.voice::before{
    @include mq("md") {
    position: absolute;
    content: "";
    background-image: url(../images/common/fish_1.png);
    top: -16.8%;
    left: calc(50% - min(43.1vw, rem(620)));
    max-width: rem(301);
    width: 100%;
    aspect-ratio: 301 / 138;
    content:"" ;
    background-size: cover;
    }
}

.voice::after{
    @include mq("md") {
    position: absolute;
    content: "";
    background-image: url(../images/common/seahorse.png);
    bottom: -1%;
    right: calc(50% - min(38vw, rem(543)));
    max-width: rem(78);
    width: 100%;
    aspect-ratio: 72 / 153;
    content:"" ;
    background-size: cover;
    }
}

.voice__inner{
    display: block;
}

.voice__items{
    margin-top: rem(47); 
    @include mq("md") {
        margin-top: rem(33);
    }
}

.voice__button{
    text-align: center;
    margin-top: rem(39);
    margin-left: rem(5);
    @include mq("md") {
        margin-top: rem(80);
        margin-left: 0;
    }
}