@use "global" as *;

.voice{
    position: relative;
}

.voice__icon-top{
    position: absolute;
    top: -19.9%;
    left: 7%;
    max-width: rem(301);
    width: 100%;
    aspect-ratio: 301 / 138;
    content:"" ;
    @include mq("md") {
        top: -10.4%;
    }
}

.voice__icon-bottom{
    position: absolute;
    bottom: -2%;
    right: 12.3%;
    max-width: rem(78);
    width: 100%;
    aspect-ratio: 71 / 153;
    content:"" ;
}

.voice__inner{
    margin-top: rem(88); 
    @include mq("md") {
        margin-top: rem(144);
        padding-bottom: rem(63);
    }
}

.voice__items{
    margin-top: rem(47); 
    @include mq("md") {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: rem(33);
    }
}
.voice__item{
    @include mq("md") {
        margin-right: rem(40);
    }
}
.voice__item:nth-child(2n){
    @include mq("md") {
        margin-right: 0;
    }
}

.voice_button{
    margin-top: rem(40);
}